.button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a33a94 0%, #902d7f 100%),
            #9d2278,
            #d85ece,
            radial-gradient(center 50% 50%, radius 100%, #b92fd8, #be4bc5);
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.75), 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.button:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34657 0%, #bd3e7d 100%),
            #9d3b51,
            #d8597b,
            radial-gradient(center 50% 50%, radius 100%, #ea96b9, #c53e6d);
}
.button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30052, 0,0,0,2 );
}
.anchor-pane {
    -fx-background-color: pink;
}
